{% load static%}

<html lang="ja">

    <head>

        <meta charset="utf-8" />

        <title>{% block title %}{% endblock %}</title>

        <!-- Core theme CSS (includes Bootstrap)
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        -->

        <!---My style-->
        <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
        
        {% block head %}{% endblock %}

    </head>

    <body id="page-top">

        <!-- Navigation-->
        <nav>

            <a href="{% url 'stapp:index' %}">JR駅名しりとりの旅ゲーム</a>

            {% if user.is_authenticated %}
                <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'stapp:logout' %}">Log out</a>)</small></p>
            {% else %}
                <a href="{% url 'stapp:login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}

        </nav>
        
        {% block header %}{% endblock %}

        {% block contents %}{% endblock %}

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {% block extrajs %}{% endblock %}

    </body>
        

</html>
