{% load static%}

<html lang="ja">

    <head>

        <meta charset="utf-8" />

        <title>{% block title %}{% endblock %}</title>

        <!-- Core theme CSS (includes Bootstrap)
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        -->

        <!---My style-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
        
        {% block head %}{% endblock %}

    </head>

    <body id="page-top">

        <!-- Navigation-->
        <nav>
            <a href="{% url 'stapp:index' %}">JR駅名しりとりの旅ゲーム</a>
        </nav>
        
        {% block header %}{% endblock %}

        {% block contents %}{% endblock %}

    </body>
        

</html>
